
/*
div {
	color:red;
}
p {
	color:red;
}
strong {
	color:red;
}
#div, .p, strong {
	color:red;
}
.lia {
	color:red;
}
ul a {
	color:green;
}
ul li a {
	color:red;
}

* {
	color:red;
}
.box.pox {
	color:red;
}
.box, .pox {
	color:red;
}

*/












